{% extends 'header.html' %}
{% block title %}403 Forbidden{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

    <header class="masthead bg-white text-primary text-center full-section">
	     <div class="container">
	        <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">-->
	        <h1 class="text-uppercase mb-0">403 Forbidden</h1>
	        <hr class="star-primary mb-5">
	        <h2 class="font-weight-light mb-0">Sorry, you do not have access to this page.</h2>
	        	        <div class="text-center mt-4">
          		<a class="btn btn-primary btn-xl" href="{{ url_for('home') }}">
	            Return to Home Page
	          </a>
	        </div>
	     </div>
    </header>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}