{% extends 'header.html' %}
{% block title %}500 Internal Server Error{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

    <header class="masthead bg-white text-primary text-center full-section">
      	<div class="container">
	        <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">-->
	        <h1 class="text-uppercase mb-0">500 Internal Server Error</h1>
	        <hr class="star-primary mb-5">
	        <h2 class="font-weight-light mb-0">Sorry, we couldn't process your request right now. Please try again later.</h2>
	        <div class="text-center mt-4">
          		<a class="btn btn-primary btn-xl" href="{{ url_for('home') }}">
	            Return to Home Page
	          </a>
	        </div>
      	</div>
    </header>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}