{% extends 'header.html' %}
{% block title %}Hermes | {{info["display_name"]}}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="wrapper text-primary">
  <table class = "classtable">
    <tr>
    <th class = "classsections">
    <h4 style = "margin-top: -60px">{{info['display_name']}}</h4>
    <table class ="lecture_table" id = "lec_table">
      <tr>
        <th style = "margin-top: -80px">Lecture</th>
        <th "margin-top: -80px">Date Posted</th>
        <th></th>
        <th></th>
      </tr>
      {% for lec in lectures %}
        <tr id = lecture-{{lec['_id']}} class="lec-row">
          {% if lec['is_playlist'] %}
          <a id="show-playlist-{{lec['_id']}}" data-toggle="collapse" onclick="toggleResponses('toggle-icon-{{lec['_id']}}')" data-target="#playlist-{{lec['_id']}}">
            <p><span class="fa fa-chevron-down qa-entry" id="toggle-icon-{{lec['_id']}}" aria-hidden="true"></span></a>
            <td><a href={{ url_for('lecture', cls=lec['cls'], lecture_number=lec['lecture_number'], playlist_number=0)}}>{{ lec['name'] }}</a></td>
          {% else %}
            <td><a href={{ url_for('lecture', cls=lec['cls'], lecture_number=lec['lecture_number'])}}>{{ lec['name'] }}</a></td>
          {% endif %}
          &nbsp; &nbsp;
          <td>{{lec['date']}}</td>
          {% if role == consts.INSTRUCTOR %}
            <td><a href={{ url_for('edit_lecture', cls = lec['cls'], lecture_number = lec['lecture_number']) }}><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td><a href="#"><i class="fa fa-trash" aria-hidden="true" type="submit" onclick="deleteLecture('{{lec['_id']}}')"></i></a></td>
          {% endif %}
        </div>
        </tr>
        {% if lec['playlist'] %}
        <td><div id="playlist-{{lec['_id']}}" class="collapse">
          <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link</td>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
        {% endif %}
      {% endfor %}
      <div class="btn-group">
</div>
    </table>
  </th>
  <th class = "classsections" style = "margin-top: -80px">
    {% if role == consts.INSTRUCTOR %}
      <form action="" method="post">
          <h4>Create a Lecture</h4>
          {{ form.csrf }}
          <p>Lecture Title {{ form.title }}</p>
          <p>Lecture Date {{ form.date }}</p>
          <p>Youtube Lecture/Playlist Link {{ form.link }}</p>
          <p id="submit">{{ form.submit() }}</p>
      </form>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </th>
  </tr>
  </table>

</div>

<script>
    function deleteLecture(lectureid){
      var data ={
        lectureid,
        api_key: '{{ api_key }}'
      };

      console.log(`${JSON.stringify(data)}`)
      $.ajax({
        type: "POST",
        url: "{{ url_for('delete_lecture') }}",
        data,
        success: function (data) {
          $('#lec_table').load(window.location.href + ' #lec_table');
        }
      });
    }

    function dropDown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
