{% extends 'header.html' %}
{% block title %}Hermes | {{info["display_name"]}}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="wrapper text-primary">
  <div class="row classtable">
    <div class="col-md-6">
      <h4>{{info['display_name']}}</h4>
      <div id="lec_table">
        <div class="row" id="lec_table_header">
          <div class="col-md-1"></div>
          <div class="col-md-6">Lecture</div>
          <div class="col-md-3">Date</div>
          <div class="col-md-2"></div>
        </div>
        <div id="lecture-list">
          {% for lec in lectures %}
            {% if loop.index % 2 == 0 %}
            <div class="row lec-row gray-row" id="lecture-{{lec['_id']}}">
            {% else %}
            <div class="row lec-row" id="lecture-{{lec['_id']}}">
            {% endif %}
              {% if lec['is_playlist'] %}
                <div class="col-md-1">
                  <a id="show-videos-{{lec['_id']}}" data-toggle="collapse" onclick="toggleVideos('toggle-icon-{{lec['_id']}}')" data-target="#playlists-{{lec['_id']}}">
                  <span class="fa fa-chevron-down qa-entry" aria-hidden="true" id="toggle-icon-{{lec['_id']}}"></span></a>
                </div>
                <div class="col-md-6">
                  <a href={{ url_for('lecture', cls=lec['cls'], lecture_number=lec['lecture_number'], playlist_number="0")}}>{{ lec['name'] }}</a>
                </div>
              {% else %}
                <div class="col-md-6 offset-md-1"><a href={{ url_for('lecture', cls=lec['cls'], lecture_number=lec['lecture_number'])}}>{{ lec['name'] }}</a></div>
              {% endif %}
              <div class="col-md-3">{{lec['date']}}</div>
              <div class="col-md-2 text-right">
              {% if role == consts.INSTRUCTOR %}
                {% if lec.get('is_playlist') %}
                  <a href={{ url_for('edit_lecture', cls = lec['cls'], lecture_number = lec['lecture_number'], playlist_number=0) }}><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% else %}
                  <a href={{ url_for('edit_lecture', cls = lec['cls'], lecture_number = lec['lecture_number']) }}><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}
                <i class="fa fa-close" style="color:red" type=submit onclick="deleteLecture('{{lec['_id']}}')"></i>
              {% endif %}
              </div>
            </div>
            {% if lec['is_playlist'] %}
            <div class="row extra-content collapse" id="playlists-{{lec['_id']}}">
              <div class="col-md-6 offset-md-1">
                {% for i in range(lec['youtube_video_ids']|length) %}
                  <a href={{ url_for('lecture', cls=lec['cls'], lecture_number=lec['lecture_number'], playlist_number=i) }}>{{lec['video_titles'][i]}}</a>
                  {% if not loop.last %}
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
        {% if role == consts.INSTRUCTOR %}
          <form action="" method="post">
              <h4>Create a Lecture</h4>
              {{ form.csrf }}
              <p>Lecture Title {{ form.title }}</p>
              <p>Lecture Date {{ form.date }}</p>
              <p>Youtube Lecture/Playlist Link {{ form.link }}</p>
              <p id="submit">{{ form.submit() }}</p>
          </form>
        {% endif %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li class="flash">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>

</div>

<script>
    function deleteLecture(lectureid){
      var data ={
        lectureid,
        user_id: '{{ user["_id"]|string }}',
        class_ok_id: '{{ info["ok_id"] }}'
      };

      console.log(`${JSON.stringify(data)}`)
      $.ajax({
        type: "POST",
        url: "{{ url_for('delete_lecture') }}",
        data,
        success: function (data) {
          $('#lec_table').load(window.location.href + ' #lec_table');
        }
      });
    }

    function dropDown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  function toggleVideos(buttonId) {
    elem = document.getElementById(buttonId);
    if (elem) {
      if (elem.classList.contains('fa-chevron-down')) {
        elem.classList.remove('fa-chevron-down');
        elem.classList.add('fa-chevron-up');
      } else {
        elem.classList.remove('fa-chevron-up');
        elem.classList.add('fa-chevron-down');
      }
    }
  }
</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
