{% extends 'header.html' %}
{% block title %}Hermes | Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

<div class="wrapper text-primary full-section-shifted">
  <form action="" method="post">
      {{ form.csrf }}
      <p>{{ form.class_name(value=init_display_name) }}</p>
      <p>{{ form.submit() }}</p>
  </form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
