{% extends 'header.html' %}
{% block title %}Hermes | Edit {{ cls_name }} - {{ name }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="wrapper text-primary">
	<!-- The screen and forms below are invisible / out of the screen until user triggers them -->
	<div id="black-transparent-screen">
	</div>
	<div id="vitamin-form">
		<div class="form-group">
            <input id='vitamin-question' class="form-control popup-input" placeholder='Enter your vitamin question here'></input>
        </div>
        <div class="form-group">
            <input id='vitamin-answer' class="form-control popup-input" placeholder='Enter your vitamin answer here'></input>
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<center><button class="btn btn-danger" type=submit onclick="removeForm()"><i class="fa fa-ban"></i>  Cancel</button></center>
        	</div>
        	<div class="col-md-6">
        		<center><button class="btn btn-primary" type=submit onclick="addVitamin()"><i class="fa fa-plus"></i>  Add Vitamin</button></center>
        	</div>
        </div>
	</div>
	<div class="row">
	    <div class="col-md-7">
	      <div id="ytplayer"></div>
	      {% if playlist_number %}
	      <div class="navbar">
	      {% if playlist_number|int != 0|int %}
	      <a href={{ url_for('edit_lecture', cls= cls_num, lecture_number= lecture_num, playlist_number= ((playlist_number|int - 1|int)|string)) }}>
	        <button class="btn btn-primary submission" >Previous Video</button>
	      </a>
	      {% endif %}
	      {% for lec in range(num_videos) %}
	      {% if playlist_number|int == lec|int %}
	        <b><u><font size ="2" color="black"> {{lec}}. {{vid_titles[lec]}}</font></u></b>
	      {% else %}
	        <font size ="2"><a href={{ url_for('edit_lecture', cls= cls_num, lecture_number= lecture_num, playlist_number= lec) }}>{{lec}}.{{vid_titles[lec]}}</a></font>
	      {% endif %}
	      {% endfor %}
	      {% if playlist_number|int < (num_videos-1)|int %}
	        <a href={{ url_for('edit_lecture', cls= cls_num, lecture_number= lecture_num, playlist_number= ((playlist_number|int + 1|int)|string)) }}>
	          <button class="btn btn-primary submission" >Next Video</button>
	        </a>
	      {% endif %}
	      </div>
	      {% endif %}
	   	</div>
	   	<div class="col-md-4">
	   		<div class="row">
		   		<div class="col-md-6">
		        	<button class="btn btn-primary submission" type=submit onclick="addVitaminForm()"><i class="fa fa-question"></i>  Add Vitamin</button>
		        </div>
		        <div class="col-md-6">
		        	<button class="btn btn-primary submission" type=submit onclick="addResourceForm()"><i class="fa fa-sticky-note"></i>  Add Resource</button>
		        </div>
	   		</div>
	   		<section id="vitamin-container">
	   			<a data-toggle="collapse" onclick="toggleResponses('vitamin-icon')" data-target="#vitamins"><span style="font-size: 18px" id="vitamin-icon" class="fa fa-chevron-down qa-entry" aria-hidden="true"></span><strong>Vitamins</strong></a>
	   			<div id="vitamins" class="collapse">
		   			{% for vitamin in db['Vitamins'].find({'$and':[{'lecture_id': lecture}, {'playlist_number': playlist_number|string }]}) %}
		   				<a id="show-vitamin-{{vitamin['_id']}}" data-toggle="collapse" onclick="toggleResponses('toggle-icon-{{vitamin['_id']}}')" data-target="#vitamin-content-{{vitamin['_id']}}">
		   					<p><span class="fa fa-chevron-down qa-entry" id="toggle-icon-{{vitamin['_id']}}" aria-hidden="true"></span>
		   				</a>
		   				<span class="qa-entry-lg">{{ vitamin['timestamp'] }} <i class="fa fa-close" style="color:red" onclick='deleteVitamin("{{vitamin['_id']}}")'></i></span>
		   					<div id="vitamin-content-{{ vitamin['_id'] }}" class="collapse qa-entry-lg">
		   						<span class="qa-entry">Q: {{ vitamin['question'] }}</span><br>
		   						<span class="qa-entry">A: {{ vitamin['answer'] }}</span>
		   					</div>
	   					</p>
		   			{% endfor %}
		   		</div>
	   		</section>
	   		<section id="resource-container" class="collapse">
	   		</section>
	   		<!--
	   		<div class="form-group">
	            <input id='vitamin-question' class="form-control" placeholder='Enter your vitamin here'></input>
	        </div>
	        <div class="row">
	            <div class="form-group col-md-6">
	                <input id="mcq" name="qtype" type="radio" onclick="toggleAnswer()" checked>  Multiple Choice</input>
	            </div>
	            <div class="form-group col-md-6">
	              	<input id="frq" name="qtype" type="radio" onclick="toggleAnswer()">  Free Response</input>
	            </div>
	        </div>
	        <div class="row">
	        	<div id="answer">
	        		<i class="fa fa-times"></i><input id="button1" class="mcq-choices" name="choices" type="radio"/><input id="choice1" class="form-control mcq-choices" placeholder="Choice A" />
	        		<i class="fa fa-times"></i><input id="button2" class="mcq-choices" name="choices" type="radio" /><input id="choice2" class="form-control mcq-choices" placeholder="Choice B" />
	        		<i class="fa fa-times"></i><input id="button3" class="mcq-choices" name="choices" type="radio" /><input id="choice3" class="form-control mcq-choices" placeholder="Choice C" />
	        		<i class="fa fa-times"></i><input id="button4" class="mcq-choices" name="choices" type="radio" /><input id="choice4" class="form-control mcq-choices" placeholder="Choice D" />
	        	</div>
	        </div>
	        <div class="row float-right">
	        	<button class="btn btn-primary submission" type=submit onclick="addVitamin()"><i class="fa fa-plus"></i>  Add Vitamin</button>
	        </div>
	    	-->
	   	</div>
   	</div>
</div>

<script>
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;
	function onYouTubePlayerAPIReady() {
	    player = new YT.Player('ytplayer', {
			height: window.innerHeight / 2,
			width: window.innerWidth / 2,
			videoId: '{{ id }}'
	    });
  	}

  	function addVitaminForm() {
  		player.pauseVideo();
  		document.getElementById('black-transparent-screen').classList.add('show');
  		document.getElementById('vitamin-form').classList.add('show');
  	}

  	function addResourceForm() {
  		player.pauseVideo();
  	}

  	function removeForm() {
  		document.getElementById('black-transparent-screen').classList.remove('show');

  		var vitamin_form = document.getElementById('vitamin-form');
  		var resource_form = document.getElementById('resource-form');
  		if (vitamin_form.classList.contains('show')) {
  			vitamin_form.classList.remove('show');
  		} else {
  			resource_form.classList.remove('show');
  		}
  	}

  	function addVitamin() {
  		var seconds = player.getCurrentTime();
      	var question = document.getElementById('vitamin-question').value;
      	var answer = document.getElementById('vitamin-answer').value;
      	if (question.length > 0 && answer.length > 0) {
	        var data = {
	           seconds: seconds,
	           question: question,
	           answer: answer,
	           lecture_id: "{{ lecture }}",
	           playlist_number: "{{ playlist_number }}",
	           api_key: "{{ api_key }}"
	        }

	        console.log(`${JSON.stringify(data)}`)

	        $.ajax({
	          type: "POST",
	          url: "{{ url_for('add_vitamin') }}",
	          data,
	          success: function (data) {
	            $('#vitamin-container').load(window.location.href + ' #vitamin-container', function () {
	            	removeForm();
	                toggleResponses('vitamin-icon');
      				$('#vitamins').collapse("show");
	            });

	          }
	        });
	    }
  	}

  	function deleteVitamin(vitamin) {
	    var data = {
	      vitamin_id: vitamin,
	      api_key: "{{ api_key }}"
	    }

	    $.ajax({
	      type: "POST",
	      url: "{{ url_for('delete_vitamin') }}",
	      data: data,
	      success: function (data) {
	        $('#vitamin-container').load(window.location.href + ' #vitamin-container', function () {
	            toggleResponses('vitamin-icon');
      			$('#vitamins').collapse("show");
	        });
	      }
	    })
	}

	function toggleResponses(buttonId) {
		elem = document.getElementById(buttonId);
		if (elem) {
		  if (elem.classList.contains('fa-chevron-down')) {
		    elem.classList.remove('fa-chevron-down');
		    elem.classList.add('fa-chevron-up');
		  } else {
		    elem.classList.remove('fa-chevron-up');
		    elem.classList.add('fa-chevron-down');
		  }
		}
	}


</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}