{% extends 'header.html' %}
{% block title %}{{ cls['display_name'] }} - {{ lecture['name'] }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="wrapper text-primary">
    <!-- The screen and forms below are invisible / out of the screen until user triggers them -->
    <div id="black-transparent-screen">
    </div>
    <div id="vitamin-form">
      <h4>Add Vitamin at <span id="timestamp"></span></h4>
        <div class="form-group">
            <input id='vitamin-question' class="form-control popup-input" placeholder='Enter your vitamin question here'></input>
        </div>

        <div class="form-group">
        <!-- <input id='vitamin-answer' class="form-control popup-input" placeholder='Enter your vitamin answer here'></input> -->
          <div class="vitamin-answer">
            <p id="instructions">Please enter 2-4 choices, then use the buttons to choose the correct answer.</p>
            <p class="incorrect" id="incorrect-input"></p>
            <div class="row">
              <div class="col-md-6" style="display: inline;">
                <input id="button1" name="choices" type="radio" required>   <input id="choice1" class="form-control mcq-choices" placeholder="Choice A" />
              </div>
              <div class="col-md-6" style="display: inline;">
                <input id="button2" name="choices" type="radio" required>   <input id="choice2" class="form-control mcq-choices" placeholder="Choice B" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" style="display: inline;">
                <input id="button3" name="choices" type="radio" required>   <input id="choice3" class="form-control mcq-choices" placeholder="Choice C" />
              </div>
              <div class="col-md-6" style="display: inline;">
                <input id="button4" name="choices" type="radio" required>   <input id="choice4" class="form-control mcq-choices" placeholder="Choice D" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <center><button class="btn btn-danger" type=submit onclick="removeForm()"><i class="fa fa-ban"></i>  Cancel</button></center>
            </div>
            <div class="col-md-6">
                <center><button class="btn btn-primary" type=submit onclick="addVitamin()"><i class="fa fa-plus"></i>  Add Vitamin</button></center>
            </div>
        </div>
    </div>

    <div id="resource-form">
      <h4>Add Resource</h4>
        <div class="form-group">
            <input id='resource-content' class="form-control popup-input" placeholder='Enter your resource link here'></input>
        </div>
        <div class="row">
            <div class="col-md-6">
                <center><button class="btn btn-danger" type=submit onclick="removeForm()"><i class="fa fa-ban"></i>  Cancel</button></center>
            </div>
            <div class="col-md-6">
                <center><button class="btn btn-primary" type=submit onclick="addResource()"><i class="fa fa-plus"></i>  Add Resource</button></center>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="yt-wrapper" id="ytplayer"></div>
          {% if playlist_number %}
          <div class="navbar">
          {% if playlist_number|int != 0|int %}
          <a href={{ url_for('lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= ((playlist_number|int - 1|int)|string)) }}>
            <button class="btn btn-primary btn-sm submission" >Previous Video</button>
          </a>
          {% endif %}
          {% for lec in range(video_info['num_videos']) %}
          {% if playlist_number|int == lec|int %}
            <b><u><font size ="2" color="black"> {{lec}}. {{lecture['video_titles'][lec]}}</font></u></b>
          {% else %}
            <font size ="2"><a href={{ url_for('edit_lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= lec) }}>{{lec}}. {{lecture['video_titles'][lec]}}</a></font>
          {% endif %}
          {% endfor %}
          {% if playlist_number|int < (video_info['num_videos'] - 1)|int %}
            <a href={{ url_for('edit_lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= ((playlist_number|int + 1|int)|string)) }}>
              <button class="btn btn-sm btn-primary submission" >Next Video</button>
            </a>
          {% endif %}
          </div>
          {% endif %}
          <a href={{ url_for('classpage', class_ok_id=cls['ok_id'])}}><button class="btn btn-primary btn-sm submission">Return to {{cls['display_name']}}</button></a>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-primary submission" type=submit onclick="addResourceForm()"><i class="fa fa-sticky-note"></i>  Add Resource</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary submission" type=submit onclick="addVitaminForm()"><i class="fa fa-question"></i>  Add Vitamin</button>
                </div>
            </div>
            <section id="vitamin-container">
                <a data-toggle="collapse" onclick="toggleResponses('vitamin-icon')" data-target="#vitamins"><span style="font-size: 18px" id="vitamin-icon" class="fa fa-chevron-down qa-entry" aria-hidden="true"></span> <strong>Vitamins</strong></a>
                <div id="vitamins" class="collapse">
                    {% for vitamin in db['Vitamins'].find({'$and':[{'lecture_id': lecture['_id']|string}, {'playlist_number': playlist_number|string }]})|sort(attribute='seconds') %}
                        <a id="show-vitamin-{{vitamin['_id']}}" data-toggle="collapse" onclick="toggleResponses('toggle-icon-{{vitamin['_id']}}')" data-target="#vitamin-content-{{vitamin['_id']}}">
                            <p><span class="fa fa-chevron-down qa-entry" id="toggle-icon-{{vitamin['_id']}}" aria-hidden="true"></span>
                        </a>
                        <span class="qa-entry-lg">{{ vitamin['timestamp'] }} <i class="fa fa-close" style="color:red" onclick='deleteVitamin("{{vitamin['_id']}}")'></i></span>
                            <div id="vitamin-content-{{ vitamin['_id'] }}" class="collapse qa-entry-lg">
                                <span class="qa-entry">Question: {{ vitamin['question'] }}</span><br>
                                <span class="qa-entry">Answer: {{ vitamin['answer'] }}</span><br>
                                <span class="qa-entry">Choices:
                                  {% for choice in vitamin['choices'] %}
                                    {% if loop.index == 1 %}
                                      {{ choice }}
                                    {% else %}
                                      , {{ choice }}
                                    {% endif %}
                                  {% endfor %}
                                </span>
                            </div>
                        </p>
                    {% endfor %}
                </div>
            </section>
            <section id="resource-container">
              <a data-toggle="collapse" onclick="toggleResponses('resource-icon')" data-target="#resources"><span style="font-size: 18px" id="resource-icon" class="fa fa-chevron-down qa-entry" aria-hidden="true"></span> <strong>Resources</strong></a>
                <div id="resources" class="collapse">
                    {% for resource in db['Resources'].find({'$and':[{'lecture_id': lecture['_id']|string}, {'playlist_number': playlist_number|string }]}) %}
                      <span class="qa-entry-lg"><i class="fa fa-close" style="color:red" onclick='deleteResource("{{resource['_id']}}")'></i>  <a href="{{ resource['link'] }}" target="_blank">{{ resource['link'] }}</a></span>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/lectureUtils.js') }}"></script>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
            videoId: '{{ video_info["video_id"] }}',
            events: {
              'onReady': onPlayerReady
            }
        });
    }

    function onPlayerReady() {
        $('#vitamin-icon').click();
        $('#resource-icon').click();
        player.playVideo();
    }

    function addVitaminForm() {
        player.pauseVideo();
        var seconds = player.getCurrentTime();
        if (seconds < 1) {
          alert('Please do not add a vitamin within the first second.');
        } else {
          document.getElementById('timestamp').innerHTML = convertToTimestamp(seconds);
          document.getElementById('black-transparent-screen').classList.add('show');
          document.getElementById('vitamin-form').classList.add('show');
        }
    }

    function addResourceForm() {
        player.pauseVideo();
        document.getElementById('black-transparent-screen').classList.add('show');
        document.getElementById('resource-form').classList.add('show');
    }

    function removeForm() {
        document.getElementById('black-transparent-screen').classList.remove('show');

        var vitamin_form = document.getElementById('vitamin-form');
        var resource_form = document.getElementById('resource-form');
        if (vitamin_form.classList.contains('show')) {
            vitamin_form.classList.remove('show');
        } else {
            resource_form.classList.remove('show');
        }
    }

    function addVitamin() {
        var seconds = player.getCurrentTime();
        var question = document.getElementById('vitamin-question').value;
        var answer = "";
        var choices = [];
        var options = 0;
        for (var i = 1; i <= 4; i++) {
          var selected = 'button' + i;
          var choice = document.getElementById('choice' + i).value;
          if (document.getElementById(selected).checked && choice != "") {
            answer = choice;
          }
          choices.push(choice);
          if (choice.length > 0) {
            options++;
          }
        }
        if (question.length > 0 && answer.length > 0 && options >= 2) {
            document.getElementById('incorrect-input').innerHTML = "";
            var data = {
               seconds: seconds,
               question: question,
               answer: answer,
               choice1: choices[0],
               choice2: choices[1],
               choice3: choices[2],
               choice4: choices[3],
               lecture_id: "{{ lecture['_id'] }}",
               playlist_number: "{{ playlist_number }}",
               user_id: '{{ user["_id"] }}',
               class_ok_id: '{{ cls["ok_id"] }}'
            }

            console.log(`${JSON.stringify(data)}`);

            $.ajax({
              type: "POST",
              url: "{{ url_for('add_vitamin') }}",
              data,
              success: function (data) {
                $('#vitamin-container').load(window.location.href + ' #vitamin-container', function () {
                    removeForm();
                    $('#vitamin-icon').click();
                });

              }
            });
        } else {
          document.getElementById('incorrect-input').innerHTML = "There was an error with your input. Please double check them.";
        }
    }

    function deleteVitamin(vitamin) {
        var data = {
          vitamin_id: vitamin,
          user_id: '{{ user["_id"] }}',
          class_ok_id: '{{ cls["ok_id"] }}'
        }

        $.ajax({
          type: "POST",
          url: "{{ url_for('delete_vitamin') }}",
          data: data,
          success: function (data) {
            $('#vitamin-container').load(window.location.href + ' #vitamin-container', function () {
                $('#vitamin-icon').click();
            });
          }
        })
    }

    function addResource() {
      var resource = document.getElementById('resource-content').value;
      if (resource.length > 0) {
        var data = {
          link: resource,
          lecture_id: "{{ lecture['_id'] }}",
          playlist_number: "{{ playlist_number }}",
          user_id: '{{ user["_id"] }}',
          class_ok_id: '{{ cls["ok_id"] }}'
        }
      }

      $.ajax({
        type: "POST",
        url: "{{ url_for('add_resource') }}",
        data,
        success: function (data) {
          $('#resource-container').load(window.location.href + ' #resource-container', function () {
              removeForm();
              $('#resource-icon').click();
          });

        }
      });
    }

    function deleteResource(resource) {
        var data = {
          resource_id: resource,
          user_id: '{{ user["_id"] }}',
          class_ok_id: '{{ cls["ok_id"] }}'
        }

        $.ajax({
          type: "POST",
          url: "{{ url_for('delete_resource') }}",
          data: data,
          success: function (data) {
            $('#resource-container').load(window.location.href + ' #resource-container', function () {
                $('#resource-icon').click();
            });
          }
        })
    }

    function toggleResponses(buttonId) {
        elem = document.getElementById(buttonId);
        if (elem) {
          if (elem.classList.contains('fa-chevron-down')) {
            elem.classList.remove('fa-chevron-down');
            elem.classList.add('fa-chevron-up');
          } else {
            elem.classList.remove('fa-chevron-up');
            elem.classList.add('fa-chevron-down');
          }
        }
    }


</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
