<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

        <!-- Custom style sheet for this app -->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

        <!-- Custom style sheet for lecture question bubbles -->
        <link href="{{ url_for('static', filename='css/lecture-questions.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/class.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
            <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top bg-white text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger text-primary" href="{{ url_for('home') }}">Hermes</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-md-1">
              {% if not session.get('logged_in') %}
                <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger btn btn-sm btn-outline-light navbar-btn" href="{{ url_for('login' )}}">Login</a>
              {% else %}
                <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger btn btn-sm btn-outline-light navbar-btn" href="{{ url_for('logout' )}}">Logout</a>
              {% endif %}
            </li>
            <li class="nav-item mx-0 mx-md-1">
              <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger btn btn-sm btn-outline-light navbar-btn" href="walkthrough.html">How to Use Hermes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">
    {% block content %}


    {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Hermes 2018</small>
            </div>
        </div>
        {% endblock %}
    </div>
    </body>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>
</html>
