{% extends 'header.html' %}
{% block title %}Hermes | Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

<div class="wrapper text-primary class-list">
    <h2>Welcome, {{user['name']}}</h2>
    <br />
    <h3>Classes</h3>
    <h4>Active Classes</h4>
    {% if valid_classes|exclude([('role', 'student')])%}
        <h5>Staff Classes</h5>
    {% endif %}
    <div>
    {% set counter = [0] %}
    {% for class in active_classes %}
        {% if class['role'] != 'student'%}
            {% if class['class_exists'] %}
                {% if counter == [0] %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if counter.append(counter.pop() + 1) %}{% endif %}
                {% if counter == [3] %}
                    </div> <!-- End row -->
                    {% if counter.pop() %}{% endif %}
                    {% if counter.append(0) %}{% endif %}
                {% endif %}
            {% else %}
                {% if counter == [0] %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('create_class', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if counter.append(counter.pop() + 1) %}{% endif %}
                {% if counter == [3] %}
                    </div> <!-- End row -->
                    {% if counter.pop() %}{% endif %}
                    {% if counter.append(0) %}{% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if counter != [0] %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    {% if valid_classes|selectattr('role', 'student') %}
        <br><h5>Student Classes</h5>
    {% endif %}
    <div>
    {% set counter = [0] %}
    {% for class in active_classes %}
        {% if class['role'] == 'student' and class['active']  %}
            {% if counter == [0] %}
                <div class="row"> <!-- Start row -->
            {% endif %}
            <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}}</h6></div></a></div>
            {% if counter.append(counter.pop() + 1) %}{% endif %}
            {% if counter == [3] %}
                </div> <!-- End row -->
                {% if counter.pop() %}{% endif %}
                {% if counter.append(0) %}{% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if counter != [0] %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    <br><br>
    <h4>Inactive Classes</h4>
    {% if classes|exclude([('role', 'student')]) %}
        <br><h5>Staff Classes</h5>
    {% endif %}
    <div>
    {% set counter = [0] %}
    {% for class in valid_classes %}
        {% if class['role'] != 'student' and not class['active'] %}
            {% if class['class_exists'] %}
                {% if counter == [0] %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if counter.append(counter.pop() + 1) %}{% endif %}
                {% if counter == [3] %}
                    </div> <!-- End row -->
                {% endif %}
            {% else %}
                {% if counter == [0] %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('create_class', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if counter.append(counter.pop() + 1) %}{% endif %}
                {% if counter == [3] %}
                    </div> <!-- End row -->
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if counter != [0] %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    {% if classes|selectattr('role', 'student') %}
        <br><h5>Student Classes</h5>
    {% endif %}
    <div>
    {% set counter = [0] %}
    {% for class in classes %}
        {% if class['role'] == 'student' and not class['active'] %}
            {% if counter == [0] %}
                <div class="row"> <!-- Start row -->
            {% endif %}
            <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['ok_id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
            {% if counter.append(counter.pop() + 1) %}{% endif %}
            {% if counter == [3] %}
                </div> <!-- End row -->
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if counter != [0] %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>

</div>

<script>
/* For code refactoring of creating these class boxes */
</script>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
