{% extends 'header.html' %}
{% block title %}Hermes | Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

<div class="wrapper text-primary class-list">
    <h2>Welcome, {{user['name']}}</h2>
    <br />
    <h3>Classes</h3>
    <h4>Active Classes</h4>
    {% if admin_active_classes|length %}
        <h5>Staff Classes</h5>
    {% endif %}
    <div>
    {% for class in admin_active_classes %}
            {% if class['class_exists'] %}
                {% if loop.index%3 == 1 %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if loop.index%3 == 0 %}
                    </div> <!-- End row -->
                {% endif %}
            {% else %}
                {% if loop.index%3 == 1 %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('create_class', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if loop.index%3 == 0 %}
                    </div> <!-- End row -->
                {% endif %}
            {% endif %}
    {% endfor %}
    {% if (admin_active_classes|length)%3 != 1 and (admin_active_classes|length) %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    {% if valid_student_active_classes|length %}
        <br><h5>Student Classes</h5>
    {% endif %}
    <div>
    {% for class in valid_student_active_classes %}
          {% if loop.index%3 == 1 %}
              <div class="row"> <!-- Start row -->
          {% endif %}
          <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) </h6></div></a></div>
          {% if loop.index%3 == 0 %}
              </div> <!-- End row -->
          {% endif %}
    {% endfor %}
    {% if (valid_student_active_classes|length)%3 != 1 and (valid_student_active_classes|length) %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    <br><br>
    <h4>Inactive Classes</h4>
    {% if admin_inactive_classes|length %}
        <br><h5>Staff Classes</h5>
    {% endif %}
    <div>
    {% for class in admin_inactive_classes %}
        {% if class['class_exists'] %}
            {% if loop.index%3 == 1 %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6 class="unregistered">{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if loop.index%3 == 0 %}
                    </div> <!-- End row -->
                {% endif %}
            {% else %}
                {% if loop.index%3 == 1 %}
                    <div class="row"> <!-- Start row -->
                {% endif %}
                <div class="col-md-4"><a href="{{ url_for('create_class', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
                {% if loop.index%3 == 0 %}
                    </div> <!-- End row -->
                {% endif %}
          {% endif %}
    {% endfor %}
    {% if (admin_inactive_classes|length)%3 != 1  and (admin_inactive_classes|length)%}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>
    {% if valid_student_inactive_classes|length %}

        <br><h5>Student Classes</h5>
    {% endif %}
    <div>
    {% for class in valid_student_inactive_classes %}
          {% if loop.index%3 == 1 %}
              <div class="row"> <!-- Start row -->
          {% endif %}
          <div class="col-md-4"><a href="{{ url_for('classpage', class_ok_id=class['course']['id']) }}"><div class="class-box"><h6>{{class['course']['display_name']}} ({{class['course']['offering'].split("/")[2]}}) ({{class['role'].capitalize()}})</h6></div></a></div>
          {% if loop.index%3 == 0 %}
                </div> <!-- End row -->
          {% endif %}
    {% endfor %}
    {% if (valid_student_inactive_classes|length)%3 != 1 and (valid_student_inactive_classes|length) %}
        </div> <!-- No more classes, but finish row -->
    {% endif %}
    </div>

</div>

<script>
/* For code refactoring of creating these class boxes */
</script>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
