{% extends 'header.html' %}
{% block title %}{{ cls['display_name'] }} - {{ lecture['name'] }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<style>
ul#menu li {
    display:inline;
}
</style>
<div class="wrapper text-primary">
  <div class="row">
    <div class="col-md-6">
      <div class="yt-wrapper" id="ytplayer"></div>
      {% if playlist_number %}
      <div class="navbar">
      {% if playlist_number|int != 0|int %}
      <a href={{ url_for('lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= ((playlist_number|int - 1|int)|string)) }}>
        <button class="btn btn-primary btn-sm submission" >Previous Video</button>
      </a>
      {% endif %}
      {% for lec in range(video_info['num_videos']) %}
      {% if playlist_number|int == lec|int %}
        <b><u><font size ="2" color="black"> {{lec}}. {{lecture['vid_title'][lec]}}</font></u></b>
      {% else %}
        <font size ="2"><a href={{ url_for('lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= lec) }}>{{lec}}. {{lecture['vid_title'][lec]}}</a></font>
      {% endif %}
      {% endfor %}
      {% if playlist_number|int < (video_info['num_videos'] - 1)|int %}
        <a href={{ url_for('lecture', cls=cls['ok_id'], lecture_number=lecture['lecture_number'], playlist_number= ((playlist_number|int + 1|int)|string)) }}>
          <button class="btn btn-sm btn-primary submission" >Next Video</button>
        </a>
      {% endif %}
      </div>
      {% endif %}
      <button id="display-full-transcript" class="btn btn-sm btn-primary">Display full transcript</button>
      <a href={{ url_for('classpage', class_ok_id=cls['ok_id'])}}><button class="btn btn-primary btn-sm submission">Return to {{cls['display_name']}}</button></a>
      <div id="transcript">
        <table class='transcript-box'>
            {% for (link, (start, end)) in preds %}

              {% for j in range(start, end + 1) %}
                  <tr id="transcript-row-{{j}}" class="transcript-row">
                    <td>
                      <div class="dropdown" id="menu-{{j}}">
                      <a id="ts-{{2 * j}}" style="color: black"></a>
                        <a data-toggle="dropdown">
                          <span id="transcript-text-{{2 * j}}"></span>
                          <span id="transcript-text-{{2 * j + 1}}"></span>
                        </a>
                        <ul id="transcript-dropdown-{{j}}" class="dropdown-menu">
                          {% if link %}
                          <li><a onclick="sendToURL('{{link}}')"> View section in textbook</a></li>
                          {% endif %}
                          <li><a onclick="fillQuestion({{j}})"> Ask a question</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
              {% endfor %}

            {% endfor %}
            </table>
      </div>
    </div>
    <div class="col-md-5">
      <div id="questions">
          <div class="form-group">
            <input id='question' class="form-control" placeholder='Enter your question here'></input>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
                <input id="anonq" type="checkbox">  Post anonymously</input>
            </div>
            <div class="form-group col-md-6">
              <button class="btn btn-primary submission" type=submit onclick="sendQuestion()">Submit Question</button>
            </div>
          </div>
        <div class="row">
              <button type="button" class="btn btn-default btn-sm" type=submit onclick='refreshQuestions()'>
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
              </button>
      </div>
      <section id="questions_table">
          {% for question_set, interval in app_utils.partition(db['Questions'].find({'$and':[{'lecture_id': lecture['_id']|string}, {'playlist_number': playlist_number|string }]}), questions_interval, video_info['duration']) %}
            {% if loop.index == 1 %}
                <a data-toggle="collapse" onclick="toggleResponses('partition-icon-{{loop.index}}')" data-target="#partition-{{loop.index}}"><span style="font-size: 18px" id="partition-icon-{{loop.index}}" class="fa fa-chevron-down qa-entry" aria-hidden="true"></span><strong>Top Questions</strong></a>
            {% else %}
                <a data-toggle="collapse" onclick="toggleResponses('partition-icon-{{loop.index}}')" data-target="#partition-{{loop.index}}"><span style="font-size: 18px" id="partition-icon-{{loop.index}}" class="fa fa-chevron-down qa-entry" aria-hidden="true"></span> {{interval[0]}} - {{interval[1]}}</a>
            {% endif %}

            <!-- <span style="display: block"> -->
            <div id="partition-{{loop.index}}" class="collapse">


            {% for question in question_set %}
              <a id="show-answers-{{question['_id']}}" data-toggle="collapse" onclick="toggleResponses('toggle-icon-{{question['_id']}}')" data-target="#answers-container-{{question['_id']}}">

                <p>
                  <span class="fa fa-chevron-down qa-entry" id="toggle-icon-{{question['_id']}}" aria-hidden="true"></span></a>
                  <span id= "each-question-{{question['_id']}}">
                    <span id="upvotes-{{question['_id']}}">
                      <button class="btn btn-default btn-sm likes"  type=submit onclick='upvoteQuestion("{{user['_id']}}", "{{question['_id']}}")'>
                      {% if user['_id']|string in question['upvotes'] %}
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like  <span id = "upvotes-{{question['_id']}}-count" class ="clicked">{{ question['upvotes']|length }}</span>
                      {% else %}
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like <span id = "upvotes-{{question['_id']}}-count" class = "notclicked"> {{ question['upvotes']|length }}</span>
                      {% endif %}
                  </button></span>
                {% if question['anon'] == "true" and role == consts.STUDENT %}
                  <span class="question-tag-lg"> Anonymous {{question['timestamp']}}</span>
                {% else %}
                  <span class="question-tag-lg"> {{question['name']}} {{question['timestamp']}}</span>
                {% endif %}
                <span class="qa-entry-lg" id = "question-text-{{question['_id']}}"> {{question['text']}}
                {% if question['ok_id'] == user['ok_id'] or role == consts.INSTRUCTOR %}
                  <i class="fa fa-pencil" aria-hidden="true" type="submit" onclick='convertQuestionToInput("{{question['_id']}}")'></i>
                  <a onclick='deleteQuestion("{{question['_id']}}")'><span class="fa fa-close" style="color:red"></span></a>
                {% endif %}
              </span>
              <!-- </span> -->
              </p>
            <div id="answers-container-{{question['_id']}}" class="collapse">
            <div id="answers-{{question['_id']}}">
                {% for answer in db['Answers'].find({'question_id': question['_id']}) %}
                    <div id="each-answer-{{answer['_id']}}">
                      <p><span id="upvotes-{{answer['_id']}}" class="qa-entry">
                      <button class="btn btn-default btn-sm likes" type=submit onclick='upvoteAnswer("{{user['_id']}}", "{{answer['_id']}}")'>
                          {% if user['_id']|string in answer['upvotes'] %}
                          <span id = "upvotes-{{answer['_id']}}-count" class = "notclicked">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like <span id = "upvotes-{{answer['_id']}}-count" class = "notclicked"> {{ answer['upvotes']|length }}</span>
                          {% else %}
                          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like  <span id = "upvotes-{{answer['_id']}}-count" class = "clicked"> {{ answer['upvotes']|length }} </span>
                          {% endif %}
                      </button>
                    </span>
                    {% if answer['anon'] == "true" and user['role'] == consts.STUDENT %}
                        <span class="question-tag"> Anonymous</span>
                          <span class="qa-entry"> {{answer['text']}}</span>
                    {% else %}
                        <span class="question-tag"> {{answer['name']}}</span>
                          <span class="qa-entry">
                            <span id = "answer-text-{{answer['_id']}}">{{answer['text']}}
                            </span>
                          </span>
                    {% endif %}
                    {% if answer['user'] == user['_id'] or user['role'] == consts.INSTRUCTOR %}
                        <i class="fa fa-pencil" aria-hidden="true" type="submit" onclick='convertAnswerToInput("{{answer['_id']}}", "{{question['_id']}}")'></i>
                      <i class="fa fa-close" style="color:red" onclick='deleteAnswer("{{answer['_id']}}", "{{question['_id']}}")'></i>
                    {% endif %}
                    </p>
                  </div>
                {% endfor %}
                    <div class="form-group">
                    <input id="answer-{{question['_id']}}" class="form-control qa-entry" placeholder='Enter your answer here'></input>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input id='anona-{{question['_id']}}' type="checkbox"></input><span class="qa-entry">  Answer anonymously</span>
                      </div>
                      <div class="col-md-3"></div>
                       <div class="form-group col-md-3">
                      <button class="btn btn-primary btn-sm qa-entry submission" type="submit" onclick='sendAnswer("{{question['_id']}}")'>Submit Answer</button>
                    </div>
                  </div>
            </div>
            </div>

            {% endfor %}
          </div>
        </span>
          <br>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/lectureUtils.js') }}"></script>

<script>



  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      videoId: '{{ video_info["video_id"] }}',
      playerVars: {rel: 0},
      events: {
        'onStateChange': stateChange,
        'onReady': onPlayerReady
      }
    });

  }


  function onPlayerReady() {

      player.playVideo();

      toggleTopQuestions();

      transcriptElements = [];
      partitionTitles = [];

      // Push transcript, partitionTitles into JavaScript memory

      {% for transcript_element in transcript %}
      transcriptElements.push({
          begin: "{{transcript_element['begin']}}",
          end: "{{transcript_element['end']}}",
          text: "{{transcript_element['text']}}",
          suggestions: {{transcript_element['suggestions']|tojson}},
          interval: [convertToSeconds("{{transcript_element['begin']}}"), convertToSeconds("{{transcript_element['end']}}")]
      });
      {% endfor %}

      {% for begin, end in video_info['partition_titles'] %}
          partitionTitles.push({
              begin: "{{begin}}",
              end: "{{end}}",
              interval: [convertToSecondsTiny("{{begin}}"), convertToSecondsTiny("{{end}}")]
          });
      {% endfor %}

      var maxTranscriptIndex = 0;
      var maxTranscriptTime = 0;

      var renderTranscriptElement = function (transcriptElementIndex) {
          transcriptElement = transcriptElements[transcriptElementIndex];
          var p1 = document.getElementById(`ts-${transcriptElementIndex}`);
          if (p1) {
              p1.innerHTML = cleanTimestamp(transcriptElement.begin)
              $(`#ts-${transcriptElementIndex}`).click(function () {
                 var tinyTimestamp = $(this).text().trim();
                 var seconds = convertToSecondsTiny(tinyTimestamp);
                 player.seekTo(seconds);
              });
          }
          var p2 = document.getElementById(`transcript-text-${transcriptElementIndex}`);
          p2.innerHTML = transcriptElement.suggestions["{{ user['_id'] }}"] || transcriptElement.text;
          document.getElementById(`menu-${Math.floor(transcriptElementIndex / 2)}`).style.visibility = "visible";
      };

      var scrollToTranscriptElement = function (transcriptElementIndex) {
          var transcriptRow = $(`#transcript-row-${Math.floor(transcriptElementIndex / 2)}`);
          $('#transcript').animate({
              scrollTop: transcriptRow.position().top
          }, 1500);
      };

      var displayQA = function (begin, end) {
          var collapseButton = $(`a:contains('${begin} - ${end}')`);
          var div = $(collapseButton.attr('data-target'));
          if (div && div.attr('class') && div.attr('class').split(' ').indexOf('show') == -1) {
            toggleResponses(collapseButton.children()[0].id);
            div.collapse('show');
          }
      };

      var displayFullTranscript = function () {
          for (var i = maxTranscriptIndex; i < transcriptElements.length; i++) {
              if ($(`#transcript-text-${i}`).contents().length == 0) {
                  renderTranscriptElement(i);
              }
          }

          maxTranscriptIndex = transcriptElement.length;
          if (maxTranscriptIndex > 0) {
              maxTranscriptTime = transcriptElements[maxTranscriptIndex - 1].end;
          }
      };

      var getChoices = function (originalText, suggestions) {
          // Decode html entities
          originalText = $("<div/>").html(originalText).text();
          var votes = {};
          for (var suggestion in suggestions) {
              votes[suggestions[suggestion]] = (votes[suggestions[suggestion]] || 0) + 1;
          }
          var choices = Object.entries(votes).sort(
              function (element1, element2) {
                  return element2[1] - element1[1]
              }).map(
                  function (element) {
                      return element[0]
                  }
              );
          if (!choices.includes(originalText)) {
              choices.unshift(originalText);
          }
          return choices;
      }

      // h/t https://stackoverflow.com/questions/16308037/detect-when-elements-within-a-scrollable-div-are-out-of-view
      function checkInView(container, elem, partial) {
          var contHeight = container.height();
          var contTop = container.scrollTop();
          var contBottom = contTop + contHeight ;

          var elemTop = $(elem).offset().top - container.offset().top;
          var elemBottom = elemTop + $(elem).height();

          var isTotal = (elemTop >= 0 && elemBottom <=contHeight);
          var isPart = ((elemTop < 0 && elemBottom > 0 ) || (elemTop > 0 && elemTop <= container.height())) && partial ;

          return  isTotal  || isPart ;
      }

      $("span[id*='transcript-text']").on('contextmenu', function(event) {
          var index = parseInt($(this).attr('id').split('-').pop());
          console.log(index);
          var oldText = $(this).text();
          document.getElementById(`transcript-dropdown-${Math.floor(index / 2)}`).style.visibility = "hidden";
          if ($('[id*="suggestion"]').length == 0) {
              event.preventDefault();
              var suggestionInput = document.createElement('input');
              suggestionInput.id = `suggestion-${index}`;
              suggestionInput.classList.add("form-control");
              suggestionInput.classList.add("input-sm");
              suggestionInput.classList.add("input-reduce-padding")
              suggestionInput.size = oldText.length;
              suggestionInput.value = oldText;

              var choices = getChoices(transcriptElements[index].text, transcriptElements[index].suggestions);
              console.log(choices);
              $(this).html(suggestionInput);

              $(`#suggestion-${index}`).typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 0
                },
                {
                    name: 'suggestions',
                    source: substringMatcher(choices)
                }
              );

              $(`#suggestion-${index}`).keydown(function(event) {
                if (event.keyCode == 13 || event.keyCode == 27) { // enter key
                  var parent = $(this).closest('span');
                  var text = $(this).val();
                  if (event.keyCode == 13) {
                    parent.html(text);
                    $.ajax({
                      type: "POST",
                      url: "{{ url_for('edit_transcript') }}",
                      data: {
                          text,
                          index,
                          user_id: '{{ user["_id"] }}',
                          class_ok_id: '{{ cls["ok_id"] }}',
                          lecture_id: '{{ lecture["_id"]|string }}',
                          playlist_number: '{{ playlist_number }}'
                      }
                    });
                  } else {
                    parent.html(oldText);
                  }
                }
              });
          }
      });

      $("#display-full-transcript").click(displayFullTranscript);

      setInterval(function() {
          var currentTime = player.getCurrentTime();
          currentTime += 5; // Transcript delay

          var state = player.getPlayerState();

          if (currentTime > maxTranscriptTime) {
              for (var i = maxTranscriptIndex; i < transcriptElements.length; i++) {
                  var transcriptElement = transcriptElements[i];
                  if ($(`#transcript-text-${i}`).contents().length == 0) {
                      renderTranscriptElement(i);
                  }

                  var endTime = transcriptElement.interval[1];
                  if (endTime > currentTime) {
                      maxTranscriptIndex = i;
                      maxTranscriptTime = endTime;
                      break;
                  }
              }
          }

          for (var i = 0; i < transcriptElements.length; i++) {
              var transcriptElement = transcriptElements[i];
              var endTime = transcriptElement.interval[1];
              if ((endTime > currentTime) && (state == 1)) {
                  if (!checkInView($('#transcript'), $(`#transcript-text-${i}`), false)) {
                      console.log(`#transcript-text-${i} not in view, scrolling to it`);
                      scrollToTranscriptElement(i);
                  }
                  break;
              }
          }

          if (state == 1) {
              for (var i = 0; i < partitionTitles.length; i++) {
                  var partitionTitle = partitionTitles[i];
                  if (currentTime >= partitionTitle.interval[0] && currentTime < partitionTitle.interval[1]) {
                      displayQA(partitionTitle.begin, partitionTitle.end);
                  }
              }
          }

      }, {{questions_interval}} * 125);

  }

  function stateChange() {
      // recordData maybe
  }

  function toggleTopQuestions() {
      toggleResponses('partition-icon-1');
      $('#partition-1').collapse("show");
  }

  function toggleResponses(buttonId) {
    elem = document.getElementById(buttonId);
    if (elem) {
      if (elem.classList.contains('fa-chevron-down')) {
        elem.classList.remove('fa-chevron-down');
        elem.classList.add('fa-chevron-up');
      } else {
        elem.classList.remove('fa-chevron-up');
        elem.classList.add('fa-chevron-down');
      }
    }
  }

  function sendQuestion() {
      var seconds = player.getCurrentTime();
      var question = document.getElementById('question').value;
      if (question.length > 0) {
        var anonymous = $('#anonq').is(":checked");
        var data = {
           seconds,
           text: question,
           name: "{{ user['name'] }}",
           ok_id: "{{ user['ok_id'] }}",
           lecture: "{{ lecture['_id']|string }}",
           cls: "{{ cls['_id']|string }}",
           user_id: '{{ user["_id"] }}',
           class_ok_id: '{{ cls["ok_id"] }}',
           anon: anonymous,
           playlist_num: "{{ playlist_number }}"
        };

        console.log(`${JSON.stringify(data)}`)

        $.ajax({
          type: "POST",
          url: "{{ url_for('write_question') }}",
          data,
          success: function (data) {
            $('#questions_table').load(window.location.href + ' #questions_table', function () {
                toggleTopQuestions()
            });

          }
        });
      }
    }

  function deleteQuestion(question) {
    var data = {
      question_id: question,
      user_id: '{{ user["_id"] }}',
      class_ok_id: '{{ cls["ok_id"] }}'
    };

    $.ajax({
      type: "POST",
      url: "{{ url_for('delete_question') }}",
      data: data,
      success: function (data) {
        $('#questions_table').load(window.location.href + ' #questions_table', function () {
            toggleTopQuestions()
        });
      }
    });
  }


  function convertAnswerToInput(answer, question){
    var txt = $(`#answer-text-${answer}`).text().trim();

    var spn = document.createElement("span");

    var frm = document.createElement("input");
    frm.setAttribute("class", "form-control qa-entry");
    frm.setAttribute("id", `edit-answer-${answer}`);
    frm.value = txt;
    spn.appendChild(frm);

    var btn = document.createElement("BUTTON");
    btn.setAttribute("class", "btn btn-primary btn-sm qa-entry submission");
    btn.setAttribute("type", "submit");
    btn.setAttribute("onclick", `editAnswer("${answer}", "${question}")`);
    var t = document.createTextNode("Submit Edit");
    btn.appendChild(t);
    spn.appendChild(btn);

    var d = document.getElementById(`answer-text-${answer}`);
    d.replaceWith(spn);
}
  function convertQuestionToInput(questionId){
    txt = $(`#question-text-${questionId}`).text().trim();

    var spn = document.createElement("span");

    var frm = document.createElement("input");
    frm.setAttribute("class", "form-control qa-entry");
    frm.setAttribute("id", `edit-question-${questionId}`);
    frm.value = txt;
    spn.appendChild(frm);

    var btn = document.createElement("BUTTON");
    btn.setAttribute("class", "btn btn-primary btn-sm qa-entry submission");
    btn.setAttribute("type", "submit");
    btn.setAttribute("onclick", `editQuestion("${questionId}")`);
    var t = document.createTextNode("Submit Edit");
    btn.appendChild(t);
    spn.appendChild(btn);

    var d = document.getElementById(`question-text-${questionId}`);
    d.replaceWith(spn);
  }

  function editQuestion(questionId) {
    var text = document.getElementById(`edit-question-${questionId}`).value;
    var data = {
      text,
      questionId,
      user_id: '{{ user["_id"] }}',
      class_ok_id: '{{ cls["ok_id"] }}'
    };

    $.ajax({
      type: "POST",
      url: "{{ url_for('edit_question') }}",
      data,
      success: function (data) {
        $('#questions_table').load(window.location.href + ' #questions_table', function () {
            toggleTopQuestions()
        });
      }
    });
  }

  function editAnswer(answerId, questionId) {
      var text = document.getElementById(`edit-answer-${answerId}`).value;
      var data = {
       text,
       answerId,
       user_id: '{{ user["_id"] }}',
       class_ok_id: '{{ cls["ok_id"] }}'
      };

      $.ajax({
          type: "POST",
          url: "{{ url_for('edit_answer') }}",
          data,
          success: function (data) {
            $(`#answers-${questionId}`).load(window.location.href + ` #answers-${questionId}`);
         }
       });
  }

  function deleteAnswer(answer, question) {
    var data = {
      answer_id: answer,
      user_id: '{{ user["_id"] }}',
      class_ok_id: '{{ cls["ok_id"] }}'
    };

    question_id = question;
    console.log(question);

    $.ajax({
      type: "POST",
      url: "{{ url_for('delete_answer') }}",
      data,
      success: function (data) {
        $(`#answers-${question}`).load(window.location.href + ` #answers-${question}`);
      }
    });
  }

  function upvoteAnswer(user, answer){
      var currentcount = document.getElementById(`upvotes-${answer}`).value;
      var data ={
        user_id:user,
        answer_id:answer,
        user_id: '{{ user["_id"] }}',
        class_ok_id: '{{ cls["ok_id"] }}'
      };
      console.log(`${JSON.stringify(data)}`);
      $.ajax({
        type: "POST",
        url: "{{ url_for('upvote_answer') }}",
        data,
        success: function (data) {

          $(`#upvotes-${answer}`).load(window.location.href + ` #upvotes-${answer}`);
        }
      });
    }

    function upvoteQuestion(user, question){
      var data ={
        user_id:user,
        question_id:question,
        user_id: '{{ user["_id"] }}',
        class_ok_id: '{{ cls["ok_id"] }}'
      };
      console.log(`${JSON.stringify(data)}`)
      $.ajax({
        type: "POST",
        url: "{{ url_for('upvote_question') }}",
        data,
        success: function (data) {
          $(`#upvotes-${question}`).load(window.location.href + ` #upvotes-${question}`);
        }
      });
    }
  function sendAnswer(questionId) {

      var answer = document.getElementById(`answer-${questionId}`).value;
      var anonymous = $(`#anona-${questionId}`).is(":checked");

      if (answer.length > 0) {
          if(anonymous == "1"){
            anonymous = (true);
          }
          else{
            anonymous = (false);
          }
          var data = {
             question_id: questionId,
             text: answer,
             anon: anonymous,
             user_id: '{{ user["_id"] }}',
             class_ok_id: '{{ cls["ok_id"] }}'
          };


          console.log(`${JSON.stringify(data)}`)

          $.ajax({
            type: "POST",
            url: "{{ url_for('write_answer') }}",
            data,
            success: function (data) {
              $(`#answers-${questionId}`).load(window.location.href + ` #answers-${questionId}`);
            }
          });
      }
  }
  function sendToURL(url) {
      window.open(
        url,
        '_blank'
      );
  }

  function refreshQuestions(){
    $('#questions_table').load(window.location.href + ' #questions_table', function () {
        toggleTopQuestions()
    });
  }

  function fillQuestion(rowIndex) {
      var ts = $(`#ts-${2 * rowIndex}`);
      var rowElement1 = $(`#transcript-text-${2 * rowIndex}`);
      var rowElement2 = $(`#transcript-text-${2 * rowIndex + 1}`);
      console.log(ts.length + rowElement1.length + rowElement2.length);
      if (ts.length + rowElement1.length + rowElement2.length > 0) {
          $('#question').val(`${ts.text()} ${rowElement1.text()}  ${rowElement2.text()}`);
      }

  }

  function addResource() {
    var seconds = player.getCurrentTime();

  }




</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
