{% extends 'header.html' %}
{% block title %}Hermes | Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}

<div class="wrapper text-primary">
  <div class="row">
    <div class="col-md-7">
      <div id="ytplayer"></div>
    </div>
    <div class="col-md-5">
      <div id="questions">
        <input id='question' placeholder='Enter your question here'></input>
        <button type=submit onclick="sendQuestion()">Submit Question</button>
      </div>
      <div>
          <table id='questions_table'>
            {% for question in db['Questions'].find({'lecture_id': lecture}).sort([('seconds', 1)]) %}
               <tr>
                 <td>{{question['name']}}</td>
                 <td>{{question['timestamp']}}</td>
                 <td>{{question['text']}}</td>
               </tr>
            {% endfor %}
          </table>
      </div>
      <div>
          <table id='transcript'>
            {% for transcript_element in transcript %}
              <tr>
                <td>{{transcript_element['timestamp']}}</td>
                <td>{{transcript_element['text']}}</td>
              </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
</div>

<script>
  // Load the IFrame Player API code asynchronously.

  // https://www.youtube.com/watch?v=JPb1k6JdGvg
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: window.innerHeight / 2,
      width: window.innerWidth / 2,
      videoId: '{{ id }}',
      events: {
        'onStateChange': recordData
      }
    });
  }

  function recordData(event) {
      // Send info for student tracking purposes
  }

  function sendQuestion() {
      var seconds = player.getCurrentTime();
      var question = document.getElementById('question').value;

      var data = {
         seconds,
         text: question,
         name: "{{ user['name'] }}",
         ok_id: "{{ user['ok_id'] }}",
         lecture: "{{ lecture }}",
         cls: "{{ cls }}"
      }

      console.log(`${JSON.stringify(data)}`)

      $.ajax({
        type: "POST",
        url: "{{ url_for('write_question')}}",
        data,
        success: function (data) {
          $('#questions_table').find("tr").remove();
          $('#questions_table').load(window.location.href + ' #questions_table');
        }
      });


  }



</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
