<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermes</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/freelancer.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </head>

  <body>
    <div id="ytplayer">

      <input id='question' placeholder='Enter your question here'></input>
      <button type=submit onclick="sendQuestion()">Submit Question</input>
    </div>
    <div id="questions">
        <table>
          {% for question in questions %}
            <tr>
              <td>{{questions['timestamp']}}</td>
              <td>{{questions['text']}}</td>
            </tr>
          {% endfor %}
        </table>
    </div>



<script>
  // Load the IFrame Player API code asynchronously.

  // https://www.youtube.com/watch?v=JPb1k6JdGvg
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: window.innerHeight / 2,
      width: window.innerWidth / 2,
      videoId: '{{ id }}',
      events: {
        'onStateChange': recordData
      }
    });
  }

  function recordData(event) {
      // Send info for student tracking purposes
  }

  function sendQuestion() {
      var timestamp = player.getCurrentTime();
      var question = document.getElementById('question').innerHTML;

      var data = {
         timestamp,
         question,
         user: '{{ user }}',
         lecture: '{{ lecture }}',
         cls: '{{ cls }}'
      }

      console.log(`${JSON.stringify(data)}`)

      $.ajax({
        type: "POST",
        url: "{{ url_for('write_question')}}",
        data
      });
  }

</script>



  </body>


</html>
